{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
    <h1 class="text-center">Welcome to Jobs Alert</h1>
    <p>
        Job Alert is a web-based application where companies can upload and 
share vacancies. In this web application, the platform is made for those 
individuals who want to share the advertisements and guidelines they seek. 
Accounts are of two types, one for the candidates and the other is for the 
administrator. The users can view, add as well as apply for the respective 
posts and the admin is the one to manage those advertisements as per 
quality and need of them according to the changing demand of posts and 
delete the material that’s irrelevant. The users are able to get the 
notification when new vacancies are available
<!--     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. -->
    </p>
    </div>
{% endblock content %}
