{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'blog/search.css' %}"> {% endcomment %}

  {% if title %}
  <title>JobsAlert- {{title}}</title>
  {% else %}
  <title>JobsAlert</title>
  {% endif %}
</head>

<body>
  
  {% include 'blog/navbar.html' %}
  
  <main role="main">
  <div style="height:150px">
  <p class=" text-center py-3 display-4" style="font-family: 'Pacifico', cursive; !important">{{request.GET.category.upper}}Jobs</p>
  </div>
    <div class="row">
      <div class="col-md-8">
      <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}


      {% block content %}{% endblock %}  
      </div>
      </div>
      <div class="col-md-4" id="Sidebar">
        <div class="content-section">
          <h3>Upcoming Jobs</h3>
          <ul class="list-group">
            {% for job in hot_box_posts %}
              <li class="list-group-item list-group-item-light" >
              <a class="" href="{% url 'post-detail' job.id %}">{{ job.title }}</a>
              <span class="ml-2 badge badge-success">{{job.category}}</span>
              <div class="small">{{job.due_date}}</div>
              </li>
            {% endfor %}
          </ul>
          </p>
        </div>

        <div class="content-section">
          <h3>Hot Jobs</h3>
          <ul class="list-group">
            {% for job in hot_box_posts_second %}
              <li class="list-group-item list-group-item-light" >
              <a class="" href="{% url 'post-detail' job.id %}">{{ job.title }}</a>
              <span class="ml-2 badge badge-success">{{job.category}}</span>
              <div class="small">{{job.num_applicants}} applicants</div>
              </li>
            {% endfor %}
          </ul>
          </p>
        </div>
      </div>
    </div>

    <hr style="border:1px solid grey;" class="mb-5"/>
    <footer class="footer-light footer-light-expand-md" style="background: url('{% static 'images/wave.svg' %}');background-size: cover;">
            <div class="container">
            <div class="row" style="min-height:200px;">
                <div class="col-md-3 item">
                    <h3 class="h6">Job By Categories</h3>
                    <ul>
                        <li><a href="{% url 'blog-home' %}?category=it">IT Jobs</a></li>
                        <li><a href="{% url 'blog-home' %}?category=hospitality">Hospitality Jobs</a></li>
                        <li><a href="{% url 'blog-home' %}?category=governmental">Governmental Jobs</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3 class="h6">Job By CIties</h3>
                    <ul>
                        <li><a href="#">Kathmandu</a></li>
                        <li><a href="#">Pokhara</a></li>
                        <li><a href="#">NepalGunj</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3 class="h6">Job By Types</h3>
                    <ul>
                        <li><a href="#">FullTime</a></li>
                        <li><a href="#">Contract</a></li>
                        <li><a href="#">Part Time</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item text">
                    <h3 class="h6">JobsAlert.com</h3>
                    <p>In the middle of difficulty lies opportunity.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            </div>
            <p class="copyright text-center">JobsAlert.com © 2021</p>
    </footer>

  </main>

  
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>