<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="{% url 'blog-home' %}">Jobs Alert</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mx-4">
        <a class="nav-link" href="{% url 'blog-home' %}">‎‎‎‎‎‎‎‎‎&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>

      <li class="nav-item  mx-4">
        <a class="nav-link active" href="{% url 'blog-about' %}">About</a>
      </li>
     
      
       {% if user.is_authenticated %}
            {% if user.profile.account_type == "organization" %}
            <li class="nav-item  mx-4">
              <a class="nav-link" href="{% url 'post-create' %}">Post Job</a>
            </li>
            {% endif %}
            <li class="nav-item  mx-4">

              <a class="nav-link active" href="{% url 'profile' %}">Profile</a>
            </li>

            <li class="nav-item  mx-4">

              <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </li>

        {% else %}
            <li class="nav-item  mx-4">

            <a class="active nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item   mx-4 dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'register' %}?register_personnel=True">Personnel</a>
            <a class="dropdown-item" href="{% url 'register' %}?register_organization=True">Organization</a>
          
          </li>

            {% endif %}
    
    </ul>
     
     <form class=" mx-4 form-inline my-2 my-lg-0" action="{% url 'job-search' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    
  </div>
</nav>
  </header>